#field {
    display: block;
    margin: 0 auto;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    border-left: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
}
#timer {
    display: flex;
    justify-content: center;
}